
html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    font-family: Arial;
    background: #020617;
    color: white;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: rgba(0,0,0,0.7);
  }
  
  .logo {
    color: #38bdf8;
    font-weight: bold;
    font-size: 26px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    position: relative;
    color: white;
    text-decoration: none;
  }

  .nav-links a {
    position: relative;
    text-decoration: none;
    color: white;
  }
  
  /* underline effect */
  .nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #38bdf8;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
  }
  
  /* hover */
  .nav-links a:hover::after {
    width: 100%;
  }
  
  /* active page */
  .nav-links a.active::after {
    width: 100%;
  }
  
  /* HERO */
.hero {
  padding: 100px 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  color: #94a3b8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  border-radius: 10px;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 60px 20px;
}

/* WORK PAGE */
.work-section {
  padding: 60px 20px;
  text-align: center;
}

.work-section h1,
.work-section h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.work-section p {
  color: #94a3b8;
}


/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #38bdf8;
}

/* CTA */
.cta {
  padding: 80px 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 15px;
}

/* CONTACT PAGE */
.contact-section {
  padding: 60px 20px;
  text-align: center;
}

.contact-section h1,
.contact-section h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.contact-section p {
  color: #94a3b8;
}

/* FORM */
.contact-form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #38bdf8;
  color: black;
  cursor: pointer;
}

